.section {
  &.lets-chat {
    position: relative;
    display: flex;
    height: 100%;
    border-right: 1px solid $border;
    background-color: white;
    .content {
      padding: 72px 48px 72px 60px;
      height: max-content;
      overflow: hidden;
      h2 {
        font-family: $font-serif;
        font-weight: 700;
        font-size: 2rem;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: $monster-red;
        margin: 0;
        margin-right: 3rem;
      }
      p {
        margin: 0;
        margin-top: 3rem;
        color: $text-secondary;
        font-size: 1.125rem;
        line-height: 180%;
        letter-spacing: 0.0025em;
      }
    }

    .footer {
      width: 100%;
      border-top: 1px solid $border;
      padding: 1.5rem 0px;
      position: absolute;
      bottom: 0px;
      left: 0;
      text-align: center;
      p {
        color: $text-light-grey;
        font-size: 1rem;
        font-weight: 500;
        margin: 0;
      }
    }
  }
  &.contact {
    padding: 60px 60px 60px 120px;
    display: flex;
    margin: auto;
    height: 100%;
    .content {
      padding-bottom: 3rem;
      h3 {
        color: $text-primary;
        font-family: $font-serif;
        font-weight: 700;
        font-size: 1.75rem;
        line-height: 120%;
        margin: 0;
        margin-bottom: 3rem;
        &.broken {
          display: none;
        }
      }
      .projects {
        display: flex;
        flex-wrap: wrap;
        row-gap: 1.5rem;
        column-gap: 1.5rem;

        //set dimensions for invisible container
        .project-item {
          position: relative;
          height: fit-content;
          min-width: 172px;
          flex-basis: 0;
          flex-grow: 1;
          max-width: 100%;

          //make actual radio input invisible
          // + stretch to fill container
          .radio-button {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            margin: 0;
            cursor: pointer;
            &:checked + .radio-tile {
              background-color: $monster-red;
              color: white;
              label {
                color: white;
                background-color: $monster-red;
                font-weight: 700;
              }
            }
          }

          //default tile styles
          .radio-tile {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: calc(100% - 1.5rem);
            height: 100%;
            padding: 1.5rem 0.75rem;
            transition: transform 300ms ease;
            background: $lighter-red;
            border: 1px solid $monster-red;
          }
        }
      }

      .btn {
        margin-top: 1.5rem;
      }
    }
  }
}

@media (max-width: 576px) {
  section {
    padding: 3rem 1.5rem 1.5rem 1.5rem;
  }
  .section {
    padding: 0px;
    &.lets-chat {
      position: relative;
      display: flex;
      height: 100%;
      border: none;
      background-color: white;
      .content {
        padding: 0px;
        height: max-content;
        overflow: hidden;
        h2 {
          font-family: $font-serif;
          font-weight: 700;
          font-size: 1.5rem;
          line-height: 150%;
          letter-spacing: 0.02em;
          color: $monster-red;
          margin: 0;
          margin-right: 3rem;
        }
        p {
          margin: 0;
          margin-top: 0.5rem;
          color: $text-secondary;
          font-size: 1rem;
          line-height: 160%;
          letter-spacing: 0.01em;
        }
      }

      .footer {
        display: none;
      }
    }

    &.contact {
      padding: 0px;
      display: flex;
      margin: auto;
      height: 100%;
      .content {
        padding-bottom: 3rem;
        h3 {
          color: $text-primary;
          font-family: $font-serif;
          font-weight: 700;
          font-size: 1rem;
          line-height: 120%;
          margin: 0;
          margin-block-start: 0px;
          margin-block-end: 0px;
          margin-top: 3rem;
          margin-bottom: 1.75rem;
          &.broken {
            display: none;
          }
        }
        .mb-sm-3 {
          margin-bottom: 1.5rem;
        }
        .projects {
          display: flex;
          flex-wrap: wrap;
          row-gap: 1.5rem;
          column-gap: 1.5rem;

          //set dimensions for invisible container
          .project-item {
            position: relative;
            height: fit-content;
            min-width: 148px;
            flex-basis: 0;
            flex-grow: 1;
            max-width: 100%;

            //make actual radio input invisible
            // + stretch to fill container
            .radio-button {
              opacity: 0;
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              width: 100%;
              margin: 0;
              cursor: pointer;
              &:checked + .radio-tile {
                background-color: $monster-red;
                color: white;
                label {
                  color: white;
                  background-color: $monster-red;
                  font-weight: 700;
                }
              }
            }

            //default tile styles
            .radio-tile {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              width: calc(100% - 1.5rem);
              height: 100%;
              padding: 1.5rem 0.75rem;
              transition: transform 300ms ease;
              background: $lighter-red;
              border: 1px solid $monster-red;
            }
          }
        }

        .btn {
          margin-top: 1.5rem;
        }
      }
    }
  }
}
