.form-group {
  position: relative;
  display: flex;

  .floating-label {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 23px;
    color: $text-secondary;
    background-color: white;
    transform: translate(16px, 16px);
    transition: transform 0.2s ease;
  }

  input,
  textarea {
    padding: 1rem;
    outline: none;
    font-weight: 700;
    font-size: 1.125rem;
    color: $text-primary;
    border: 2px solid $border;
    width: 100%;
    &:focus,
    &:valid {
      border-color: #212121;
    }
    &:focus ~ .floating-label,
    &:valid ~ .floating-label {
      transform: translate(8px, -16px);
      padding: 8px;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 16px;
      color: $text-primary;
    }
  }
}
