body {
  margin: 0;
  overflow: hidden;
  overflow-y: auto;
}
#__next {
  height: 100vh;
}
main {
  max-height: calc(100vh - 84px);
  height: 100%;
  font-family: $font-sans;
  position: relative;
}
// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  main {
    padding-bottom: 60px;
    height: auto;
    max-height: unset;
  }
  #__next {
    height: auto;
  }
}
