body {
  margin: 0;
  overflow: hidden;
}

main {
  height: calc(100vh - 82px);
  font-family: $font-sans;
  overflow: hidden;
  overflow-y: auto;
  position: relative;
}
// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  main {
    height: calc(100vh - 136px);
    overflow-y: auto;
    overflow-x: hidden;

    &.extra-space {
      height: calc(100vh - 192px);
    }
  }
}
