.shimmer {
  animation-duration: 2.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  background: #ffede7;
  background: linear-gradient(
    90deg,
    #ffede7 4%,
    rgba(255, 237, 231, 0.3) 25%,
    rgba(255, 237, 231, 0.8) 35%,
    #ffede7 36%
  );
  background-size: 1200px 100%;
}

@-webkit-keyframes shimmer {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes shimmer {
  0% {
    background-position: -1200px 0;
  }
  100% {
    background-position: 1200px 0;
  }
}
