.title,
.title-1 {
  color: $text-primary;
}

.title.secondary,
.title-1.secondary {
  color: $text-secondary;
}

.title-1 {
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 150%;
  $nav-border: #a2a0a1;
  letter-spacing: 0.0025em;
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .title-1 {
    margin: 1.5rem 0px;
    font-size: 1rem;
  }
}
