// Colours

$grey: #a2a0a1;
$light-grey: #f8f2ef;
$dark-grey: #bba7a1;

$monster-red: #b12e00;
$light-red: #ffdacf;
$lighter-red: #ffede7;

$text-primary: #212121;
$text-secondary: #757575;
$text-disabled: $dark-grey;
$text-light-grey: $grey;

$btn-base: $monster-red;
$btn-hover: #dc3c00;
$btn-active: #872100;
$btn-disabled: $light-grey;

$nav-border: #a2a0a1;
$border: $grey;
$nav-border-active: $monster-red;
